---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import TrustStrip from '../components/TrustStrip.astro';
import Especialidades from '../components/Especialidades.astro';
import Diferenciais from '../components/Diferenciais.astro';
import Equipe from '../components/Equipe.astro';
import Casos from '../components/Casos.astro';
import Depoimentos from '../components/Depoimentos.astro';
import FAQ from '../components/FAQ.astro';
import Localizacao from '../components/Localizacao.astro';
import Footer from '../components/Footer.astro';
import WhatsAppFloat from '../components/WhatsAppFloat.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <TrustStrip />
    <Especialidades />
    <Diferenciais />
    <Equipe />
    <Casos />
    <Depoimentos />
    <FAQ />
    <Localizacao />
    <Footer />
  </main>
  <WhatsAppFloat />
</Layout>
