---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Pilares from '../components/Pilares.astro';
import Galeria from '../components/Galeria.astro';
import Sobre from '../components/Sobre.astro';
import Depoimentos from '../components/Depoimentos.astro';
import Localizacao from '../components/Localizacao.astro';
import Footer from '../components/Footer.astro';
import WhatsAppFloat from '../components/WhatsAppFloat.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Pilares />
    <Galeria />
    <Sobre />
    <Depoimentos />
    <Localizacao />
    <Footer />
  </main>
  <WhatsAppFloat />
</Layout>
